.hbLogin{

 -fx-background-color:#A1D490;


}

.hbLogin{
 -fx-background-image: url("images.png");
 -fx-background-size: cover;
 -fx-padding:50

}



.txt {
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}