

.hbLogin{
 -fx-background-image: url("images.png");
  -fx-background-repeat: stretch;
 -fx-background-size: 1000 1000;
  -fx-background-position: top left;


}

.logo{

    -fx-background-image: url("index.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;

}

.vbLogin{

 -fx-background-size: cover;
 -fx-padding:50

}

.mainTitle{
 -fx-font: 20px "Verdana";
 -fx-font-weight:bold;
 -fx-text-fill: #7B7B7B;

}
.rateLable{
 -fx-font: 10px "Verdana";
 -fx-font-weight:bold;
 -fx-text-fill: #7B7B7B;
}


.txt2 {

 -fx-background-color: #6487FF , white , white;
 -fx-background-insets: 0 0 0 0, 0 0 0 0, 0 -1 3 -1;

}

.btn {
    -fx-background-image: url("con.png");
}

.txt3{
 -fx-font: 16px "Verdana";
 -fx-font-weight:bold;
 -fx-text-fill: #7B7B7B;

}

.txt{
        -fx-background-color:
            linear-gradient(#f2f2f2, #d6d6d6),
            linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
            linear-gradient(#dddddd 0%, #f6f6f6 50%);
        -fx-background-radius: 8,7,6;
        -fx-background-insets: 0,1,2;
        -fx-text-fill: black;
        -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    }